@charset "UTF-8";
/* w jaki sposób definiują układ strony 
  prefiks -l
*/
.app-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.top-bar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #404a15;
  padding: 0.5rem 0;
  z-index: 1;
  text-align: end;
}

.header-wrapper {
  width: 95%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: none;
}

@media (min-width: 650px) {
  .top-bar {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
}
