/* prefiks -is */
.navbar .nav-btn:hover,
.navbar .nav-btn:active {
  background-color: #122a4a;
  cursor: pointer;
}

.navbar .yellow:hover,
.navbar .yellow:active {
  background-color: #404a15;
}

.navbar .red:hover,
.navbar .red:active {
  background-color: #701506;
}
