@font-face {
  font-family: MonomaniacOne;
  src: url("../fonts/MonomaniacOne-Regular.ttf");
}

html {
  font-size: 10px;
}

body {
  background-color: #303030;
  color: #dedede;
  font-family: 'Monomaniac One';
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3rem;
  color: #dedede;
}

button {
  border: inherit;
  font: inherit;
  color: inherit;
  padding: inherit;
  margin: inherit;
}
