@import '../variables';
@import '../functions';
@import './nav-bar--states';

.app-wrapper {
  text-align: center;
  min-height: 100vh;
  @include flexCenter(column, flex-start, center);
  color: $font-color;
}

.top-bar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: $secondary-color--shadowed;
  padding: 0.5rem 0;
  z-index: 1;
  text-align: end;

  .top-bar__logo {
    height: 6rem;
    display: inline-block;
    vertical-align: middle;
  }

  .toggle-button {
    width: 4.8rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin: 0 1rem;

    .toggle-button__bar {
      width: 100%;
      height: 0.5rem;
      background: white;
      display: block;
      margin: 0.96rem 0;
    }
  }
}

header {
  @include flexCenter(row, center, center);
  width: 95%;
  margin: 1rem 0;

  .header__logo {
    width: 100%;

    @include flexCenter(row, center, center);

    /* https://kovart.github.io/dashed-border-generator/  */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23AA3C3C' stroke-width='5' stroke-dasharray='16%2c 22%2c 35' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 5px;

    padding: 1rem;

    .logo__img {
      padding: 1rem;
      min-width: 8rem;
      max-width: 11rem;
    }

    .logo__name {
      margin: 1rem;

      font-size: 4rem;
      width: 60%;

      text-align: center;
    }
  }

  .header__time {
    width: 45%;
    padding: 2rem;
    font-size: 4rem;

    display: none;
  }
}

@import '../mobile/mobileNav';

main {
  width: 95%;
  @include flexCenter(column, flex-start, center);

  .buttons-wrapper {
    width: 100%;
    @include flexCenter(row, center, center);
    flex-wrap: wrap;

    .buttons-wrapper__btn {
      width: 48%;
      min-width: 16rem;
      min-height: 3.6rem;
      margin: 1rem 1%;
      padding: 0 0 1rem 0;

      background: $secondary-color;
      font-size: 2.5rem;
      border-radius: 5px;

      &:hover,
      &:active {
        @include buttonHover($secondary-color--shadowed);
      }
    }
  }

  .content-wrapper {
    width: 100%;
    min-height: 50vh;
    background: $background-color--lighter;
    border-radius: 5px;

    font-size: 2.5rem;
    line-height: 3.6rem;

    @include flexCenter(column, center, center);

    .content-wrapper__author {
      margin: 5rem;
    }
  }
}

footer {
  font-size: 1.6rem;
}

@media (min-width: $breakpoint-mobile) {
  .app-wrapper {
    max-width: 66vw;
    margin: 0 auto;
  }

  .top-bar {
    display: none;
  }

  header {
    justify-content: space-between;
    .header__logo {
      width: 45%;
    }

    .header__time {
      @include flexCenter(column, center, center);
    }
  }

  .desktop-nav {
    all: unset; // reset mobile navbar design

    @include flexCenter(row, space-between, center);
    width: 95%;
    margin-bottom: 1rem;

    .nav-btn {
      width: 19%;
      height: 11.5rem;

      font-size: 2.5rem;

      background-color: $primary-color;

      border-radius: 5px;
    }

    .yellow {
      background-color: $secondary-color;
    }

    .red {
      background-color: $warning-color;
    }

    @include navbarStates();
  }

  main {
    @include flexCenter(row, center, flex-start);

    .buttons-wrapper {
      @include flexCenter(row, space-between, center);
      flex-wrap: wrap;
      width: 25%;

      button {
        margin: 0;
      }

      .buttons-wrapper__btn {
        min-width: 9rem;
        max-width: 49%;

        height: 10rem;

        padding: 0.5rem;
        margin: 0 0 1rem 0;
        line-height: 120%;
      }
    }

    .content-wrapper {
      width: 75%;
      margin-left: 1rem;
    }
  }
}
