.app-wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #dedede;
}

.top-bar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #404a15;
  padding: 0.5rem 0;
  z-index: 1;
  text-align: end;
}

.top-bar .top-bar__logo {
  height: 6rem;
  display: inline-block;
  vertical-align: middle;
}

.top-bar .toggle-button {
  width: 4.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  margin: 0 1rem;
}

.top-bar .toggle-button .toggle-button__bar {
  width: 100%;
  height: 0.5rem;
  background: white;
  display: block;
  margin: 0.96rem 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  margin: 1rem 0;
}

header .header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* https://kovart.github.io/dashed-border-generator/  */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23AA3C3C' stroke-width='5' stroke-dasharray='16%2c 22%2c 35' stroke-dashoffset='38' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
  padding: 1rem;
}

header .header__logo .logo__img {
  padding: 1rem;
  min-width: 8rem;
  max-width: 11rem;
}

header .header__logo .logo__name {
  margin: 1rem;
  font-size: 4rem;
  width: 60%;
  text-align: center;
}

header .header__time {
  width: 45%;
  padding: 2rem;
  font-size: 4rem;
  display: none;
}

nav {
  display: none;
}

nav .nav-btn:hover,
nav .nav-btn:active {
  background: #122a4a;
  cursor: pointer;
}

nav .yellow:hover,
nav .yellow:active {
  background: #404a15;
  cursor: pointer;
}

nav .red:hover,
nav .red:active {
  background: #701506;
  cursor: pointer;
}

main {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

main .buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

main .buttons-wrapper .buttons-wrapper__btn {
  width: 48%;
  min-width: 16rem;
  min-height: 3.6rem;
  margin: 1rem 1%;
  padding: 0 0 1rem 0;
  background: #809624;
  font-size: 2.5rem;
  border-radius: 5px;
}

main .buttons-wrapper .buttons-wrapper__btn:hover, main .buttons-wrapper .buttons-wrapper__btn:active {
  background: #404a15;
  cursor: pointer;
}

main .content-wrapper {
  min-height: 50vh;
  background: #505050;
  border-radius: 5px;
  font-size: 2.5rem;
  line-height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .content-wrapper .content-wrapper__author {
  margin: 5rem;
}

footer {
  font-size: 1.6rem;
}

@media (min-width: 650px) {
  .top-bar {
    display: none;
  }
  header {
    justify-content: space-between;
  }
  header .header__logo {
    width: 45%;
  }
  header .header__time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 95%;
  }
  nav .nav-btn {
    width: 19%;
    height: 11.5rem;
    font-size: 2.5rem;
    background-color: #335e96;
    border-radius: 5px;
  }
  nav .yellow {
    background-color: #809624;
  }
  nav .red {
    background-color: #991506;
  }
  nav .nav-btn:hover,
  nav .nav-btn:active {
    background: #122a4a;
    cursor: pointer;
  }
  nav .yellow:hover,
  nav .yellow:active {
    background: #404a15;
    cursor: pointer;
  }
  nav .red:hover,
  nav .red:active {
    background: #701506;
    cursor: pointer;
  }
}
