
.icon-bat4:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
