// UI colors
$font-color: #dedede;

$primary-color: #335e96;
$primary-color--shadowed: darken($primary-color, 18%);

$secondary-color: #809624;
$secondary-color--shadowed: darken($secondary-color, 18%);

$warning-color: #991506;
$warning-color--shadowed: darken($warning-color, 16%);

$background-color: #303030;
$background-color--lighter: lighten($background-color, 12%);

$content-btn-color: #3c0fa3;
$content-btn-color--shadowed: darken($content-btn-color, 18%);

// Predefined Break-points
$breakpoint-mobile: 650px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
